body{

margin:0;
height:100vh;
font-family:Arial;
color:white;
text-align:center;

background-image:url("https://images.unsplash.com/photo-1470509037663-253afd7f0f51");

background-size:cover;
background-position:center;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

overflow:hidden;

}

h1{

font-size:60px;
text-shadow:2px 2px 15px black;

}

.container{

background:rgba(0,0,0,0.65);
padding:35px;
border-radius:20px;
width:330px;

backdrop-filter:blur(6px);

}

.inputs{

display:flex;
justify-content:space-around;
margin-bottom:15px;

}

input{

width:60px;
font-size:16px;
text-align:center;

}

#timer{

font-size:70px;
margin:20px 0;

}

button{

padding:10px 15px;
margin:5px;
border:none;
border-radius:10px;
font-size:18px;
cursor:pointer;
transition:0.2s;

}

button:hover{

transform:scale(1.1);

}

#message{

font-size:20px;
color:#ffd700;

}

.cat{

position:fixed;
bottom:10px;
right:10px;
width:130px;

}